[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
yfinance = "*"
sklearn = "*"
varname = "*"
matplotlib = "*"
mxnet-cu101 = {version = "*", sys_platform = "== 'linux'"}
mxnet = {version = "<2.0.0", sys_platform = "== 'darwin'"}
autogluon = {version = "*", sys_platform = "!= 'win32'"}
praw = "*"
python-dotenv = "*"
gluonts = "*"
numexpr = "*"
orjson = "*"
tensorflow = {version = "*", sys_platform = "== 'linux'"}
cuda = {version = "*", sys_platform = "== 'linux'"}
from-root = "*"
aniso8601 = "==8.0.0"
click = "==7.1.2"
itsdangerous = "==1.1.0"
pytz = "==2020.1"
six = "==1.15.0"
AutoTS = "*"
CD = "*"
Flask = "==1.1.2"
Flask-RESTful = "==0.3.8"
Flask-SQLAlchemy = "==2.4.3"
Jinja2 = "==2.11.2"
MarkupSafe = "==1.1.1"
SQLAlchemy = "==1.3.18"
Werkzeug = "==1.0.1"
mlflow = "*"

[dev-packages]
black = "*"
pytest = "*"
watchdog = "*"
rope = "*"
pylint = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
autots_predict = "python3 StonksML/timeseries/autots_train_and_predict.py"
autots_results = "python3 StonksML/timeseries/autots_read_results_from_file.py"
autots_clean = "python3 StonksML/timeseries/autots_clean_model_dumps.py"
autogluon_preprocess = "python3 StonksML/sentiment_analysis/autogluon_training_data_prep.py"
autogluon_train_test = "python3 StonksML/sentiment_analysis/autogluon_train_test.py"
autogluon_evaluate = "python3 StonksML/sentiment_analysis/autogluon_tester.py"
reddit_scrape_analyse = "python3 StonksML/sentiment_analysis/scrape_analyse_reddit.py"
