[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
yfinance = "*"
autots = "*"
sklearn = "*"
varname = "*"
mxnet = "<2.0.0"
autogluon = "*"

[dev-packages]
black = "*"
pytest = "*"
watchdog = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true

[scripts]
autots_train = "python3 StonksAutoTS/stonks_autots.py"
autots_results = "python3 StonksAutoTS/cli_read_results.py"
autots_clean = "python3 StonksAutoTS/clean_model_dumps.py"
