[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
yfinance = "*"
autots = "*"
sklearn = "*"
varname = "*"
auto-nlp = "*"

[dev-packages]
black = "*"
pytest = "*"
watchdog = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
